body {background-color: #d9eeee;}

div {
    font-size:small;
}

ul {
 font-size: 0.5em;
}

.reveal .slides {
    text-align: left;
}

mark {
    background-color: #006491;
    color: white;
    font-size: 75%;
}

html {
    font-size: 75%;
}

p {
  font-size: 75%;
}